[window]
padding = { x = 5, y = 5 }
decorations = {{ .alacritty.window.decorations | quote }}
opacity = 0.8
blur = true

[font]
normal = { family = "JetBrainsMono Nerd Font", style = "Thin" }
size = {{ .alacritty.font.size }}
